.body{
background-color: crimson;
}
h1{
font-size: 30px;
color: crimson;
}
h2{
font-size: 25px;
color: orange;
}
.big{
font-size: 70px;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
color: wheat;
}
span{
color: darkviolet;
}
</style>